.kontainer-blur-pic
{
    position: relative;
    text-align: center;
    color: white;
}

.centralized
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span
{
    display: block;
    line-height: 2em;
    color: white;
}