.bg-navigasi
{
  background-color: #2C3E50;
}

.bg-hero
{
  background-color: #88fff7;
}

.bar-container {
  width: 100%;
  background-color: #e2e2e2;
  text-align: center;
  color: white;
}

.bar-1 {width: 75%; height: 18px; background-color: #353130;}

@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

.img-fitur
{
  width: 150px;
}

.testimoni
{
  background-color: #7C83FD;
  color: #fff;
  height: 450px;
}

.img-testimoni
{
  width: 100px;
}

.carousel-inner
{
  padding: 0 10%;
}

.paket-row:nth-of-type(even)
{
  background-color: #EEFFFF;
}

.paket-row:hover
{
  background-color: #88FFF7;
}

.kontak
{
  background-color: whitesmoke;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  border: 1px solid grey;
}
.nav li a{
  background-color: none;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  border: 1px solid grey;
}
.nav li a:hover {
  background-color: grey;
  color: white;
}
